{% include 'manager/mgr.head.twig' %}
<body class="manager">
{%  include 'manager/mgr.topnav.twig' %}


<div class="jumbotron mt-5">
    <h1>Welcome to DARE.manager</h1>
</div>


{%  include 'viewer/footer.twig' %}
</body>