{% include 'manager/mgr.head.twig' %}
<body style="background-image: url('{{ webInfo.baseurl }}assets/img/dare_background.jpg'); background-size: cover; background-attachment: fixed; font-family: 'Source Sans Pro';">
{%  include 'manager/mgr.topnav.twig' %}


<div class="jumbotron mt-5 bg-transparent text-center">
    <h1 class="bg-white sire-opacity">Welcome to <strong class="text-dare">Si</strong>mplicius <strong class="text-dare">R</strong>esearch <strong class="text-dare">E</strong>nvironment</h1>
</div>


{%  include 'viewer/footer.twig' %}
</body>