{% include 'viewer/head.twig' %}
<body>
{%  include 'viewer/topnav.twig' %}


<div class="jumbotron mt-5 bg-dare-dark border-danger">
    <h1 class="text-dare">404</h1>
    <h3 class="text-dare">{{ message }}</h3>
</div>


{%  include 'viewer/footer.twig' %}
</body>