{% include 'viewer/head.twig' %}
<body>
{%  include 'viewer/topnav.twig' %}


<div class="jumbotron mt-5">
    <h1>{{ webInfo.subarea }}</h1>
    <p>Site not available</p>
</div>


{%  include 'viewer/footer.twig' %}
</body>