<div class="flex-column">
    <nav id="logos" class="navbar navbar-expand-sm bg-black fixed-bottom justify-content-lg-end">
        <div>
            <a href="https://uni-koeln.de" target="_blank"><img src="{{ webInfo.baseurl }}assets/img/uni_logo.png" class="img-fluid pr-2" alt="University of Cologne" style="max-height: 3vh"></a>
            <a href="#"><img src="{{ webInfo.baseurl }}assets/img/sire_logo.png" class="img-fluid pl-5" alt="DARE" style="max-height: 3vh"></a>
        </div>
    </nav>
    <nav id="imprint" class="navbar navbar-expand-sm bg-imprint fixed-bottom justify-content-start no-p-tb" style="min-height: 1vh; vhmax-height: 1vh">
        <p class="text-dare" style="font-size: 12px; padding: 0; margin: 0">Version 0.1.39 <small>(20200508)</small></p>
        <p class="text-imprint pl-1 pr-1">|</p>
        <a class="text-imprint" href="https://portal.uni-koeln.de/en/site-notice" target="_blank">Imprint</a>
        <p class="text-imprint pl-1 pr-1">|</p>
        <a class="text-imprint" href="https://portal.uni-koeln.de/en/privacy-protection-statement" target="_blank">Data Privacy</a>
        <p class="text-imprint pl-1 pr-1">|</p>
        <a class="text-imprint" href="http://dare.uni-koeln.de/contact/" target="_blank">Contact</a>




    </nav>
</div>

