<nav class="navbar navbar-expand-sm bg-bright navbar-dark fixed-top justify-content-lg-between fixed-top bg-dare-nav no-p-tb">

    <ul class="navbar-nav nav-pills">

    </ul>



    <ul class="navbar-nav nav-pills">
        <li class="nav-item">
            <a class="nav-link {% if webInfo.area == "bibliography" %}active{% endif %}" href="{{ webInfo.baseurl }}manager"><i class="fas fa-book-open"></i>  Manager</a>
        </li>


    </ul>
</nav>